<section class="bg--secondary" id="blog--list-content">
    <div class="container">
        <div class="row">
            {{ partial "blog/left-col.html" .}}
            {{/*  {{ partial "blog/right-col.html" .}}  */}}  
        </div>
    </div>
</section>