{{ partial "page/hero.html" . }}

<section id="page--content" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page--title">{{ .Params.title }}</h1>
            {{ .Content }}
        </div>
    </div>
    
    {{ partial "machines/list.html" . }}
    
</section>