    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page--title">{{ .Params.title }}</h1>
                {{ .Content }}
            </div>
        </div>
    </div>
